.cm-s-dracula.Mkcoding, .cm-s-dracula .Mkcoding-gutters {background-color: #282a36 !important;color: #f8f8f2 !important;border: none;}
.cm-s-dracula .Mkcoding-gutters { color: #fff; }
.cm-s-dracula .Mkcoding-cursor { border-left: solid thin #f8f8f0; }
.cm-s-dracula .Mkcoding-linenumber { color: #fff; }
.cm-s-dracula .Mkcoding-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .Mkcoding-line::selection, .cm-s-dracula .Mkcoding-line > span::selection, .cm-s-dracula .Mkcoding-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .Mkcoding-line::-moz-selection, .cm-s-dracula .Mkcoding-line > span::-moz-selection, .cm-s-dracula .Mkcoding-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula span.cm-comment { color: rgb(176, 77, 226); }
.cm-s-dracula span.cm-string, .cm-s-dracula span.cm-string-2 { color: #f1fa8c; }
.cm-s-dracula span.cm-number { color: #bd93f9; }
.cm-s-dracula span.cm-variable { color: #c5cae9; }
.cm-s-dracula span.cm-variable-2 { color: white; }
.cm-s-dracula span.cm-def { color: #66FF00; }
.cm-s-dracula span.cm-operator { color: #ff79c6; }
.cm-s-dracula span.cm-keyword { color: #FF6600; }
.cm-s-dracula span.cm-atom { color: #bd93f9; }
.cm-s-dracula span.cm-meta { color: #f8f8f2; }
.cm-s-dracula span.cm-tag { color: #ff79c6; }
.cm-s-dracula span.cm-attribute { color: #66FF00; }
.cm-s-dracula span.cm-qualifier { color: #66FF00; }
.cm-s-dracula span.cm-property { color: #FF6600; }
.cm-s-dracula span.cm-builtin { color: #66FF00; }
.cm-s-dracula span.cm-variable-3, .cm-s-dracula span.cm-type { color: #ffb86c; }
.cm-s-dracula .Mkcoding-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-dracula .Mkcoding-matchingbracket { text-decoration: underline; color: white !important; }